[Unit]
Description=battery watchdog

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/turbopy/.venv/bin/python -m turbocore.battchk --watch
ExecStop=/bin/systemctl kill batterywatcher

[Install]
WantedBy=multi-user.target



