
[Unit]
Description=lobot discovery

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/turbopy/.venv/bin/python -m turbocore.hw_find -t TurboPi
ExecStop=/bin/systemctl kill hw_find

[Install]
WantedBy=multi-user.target



