[Unit]
Description=start rgbd.py

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/turbopy/.venv/bin/python -m turbocore.rgbd --clear_strip --listen
ExecStop=/bin/systemctl kill rgbd

[Install]
WantedBy=multi-user.target
