[Unit]
Description=startup beep and connection blink

[Service]
Type=oneshot
ExecStart=/turbopy/.venv/bin/python -m turbocore.status conn_waiting

[Install]
WantedBy=multi-user.target
